apiVersion: apps/v1
kind: Deployment
metadata:
  name: arm64-spot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: arm64-spot
  template:
    metadata:
      labels:
        app: arm64-spot
    spec:
      nodeSelector:
        node-type: spot-arm64
      tolerations:
        - key: karpenter.sh/spot
          operator: Exists
          effect: NoSchedule
        - key: kubernetes.io/arch
          value: arm64
          effect: NoSchedule
      containers:
        - name: nginx
          image: nginx:alpine
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: 100m
              memory: 64Mi
            limits:
              memory: 128Mi